{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="mdl-grid demo-content bg-dark">
    <div class="mdl-row">
        <h2>{{ name }}</h2>
        <a href="/file/{{ itemhash }}">Download {{ filename }}</a>
    </div>
    <div class="mdl-row">
        <h6>{{ filehash }}</h6>
    </div>
</div>

{% endblock %}