{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="mdl-grid demo-content mdl-color--white">
    <div class="mdl-cell mdl-cell--8-col mdl-color--white-400 demo-charts">
        <div class="mdl-layout-spacer"></div>
        <h5>Item Preview...</h5>
        <h6>{{ filehash }}</h6>
        <a href="/file/{{ itemhash }}">Download {{ filename }}</a>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h5>Item information...</h5>
        <ul class="demo-list-icon mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Bryan Cranston
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Aaron Paul
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Bob Odenkirk
            </span>
            </li>
        </ul>
        <div class="actionbutton-row bottom">
            <div class="actionbutton-container">
                <a href="/file/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--blue">
                        <i class="material-icons mdl-color-text--white">cloud_download</i>
                    </button>
                </a>
                <span>Download</span>
            </div>
            <div class="actionbutton-container">
                <a href="/transfer/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--orange">
                        <i class="material-icons mdl-color-text--white">account_circle</i>
                    </button>
                </a>
                <span>Transact</span>
            </div>
            <div class="actionbutton-container">
                <a href="/tag/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--green">
                        <i class="material-icons mdl-color-text--white">label</i>
                    </button>
                </a>
                <span>Smart Tag</span>
            </div>
        </div>
    </div>
</div>


{% endblock %}