{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="mdl-grid demo-content mdl-color--white">
    <div class="mdl-cell mdl-cell--6-col mdl-color--white-400 demo-charts">
        <div class="mdl-layout-spacer"></div>
        <h5><i class="material-icons" style="margin-right: 12px;">{% if public %}visibility{%else%}visibility_off{%endif%}</i> {{ filename }}</h5>
        <h6>{{ filehash }}</h6>
        
        <div class="actionbutton-row">
            <div class="actionbutton-container">
                <a href="/file/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--blue">
                        <i class="material-icons mdl-color-text--white">cloud_download</i>
                    </button>
                </a>
                <span>Download</span>
            </div>
            {% if current_user.email == owner %}
            <div class="actionbutton-container">
                <a href="/transfer/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--orange">
                        <i class="material-icons mdl-color-text--white">account_circle</i>
                    </button>
                </a>
                <span>Transact</span>
            </div>
            {% endif %}
            <div class="actionbutton-container">
                <a href="/tag/{{ itemhash }}">
                    <button class="mdl-button mdl-js-button 
                    mdl-button--fab mdl-button--mini-fab 
                    mdl-button--colored mdl-color--green">
                        <i class="material-icons mdl-color-text--white">label</i>
                    </button>
                </a>
                <span>Smart Tag</span>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <h5>Scans</h5>
        {% if scans %}
            <ul class="demo-list-icon mdl-list">
                {% for i in scans %}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">person</i>
                            {{ i['user'] }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div>This item has never been scanned.</div>
        {% endif %}
        <h5>Owner History</h5>
        {% if transfers %}
        <ul class="demo-list-icon mdl-list">
            {% for t in transfers %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">check_circle_outline</i>
                    </span>
                    <div>
                        <div><strong>From:</strong> {{ t['from'] }}</div>
                        <div><strong>To:</strong> {{ t['to'] }}</div>
                        <div><strong>Block number:</strong> {{ t['block'] }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <div>This item has never been transferred.</div>
        {% endif %}
    </div>
</div>


{% endblock %}