{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="mld-grid" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div class="mdl-layout-spacer" style="height: 200px;"></div>
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col login-box">
        <form method="POST" action="/login">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="email" name="email">
                <label class="mdl-textfield__label" for="email">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Password...</label>
            </div>
            <div class="mdl-layout-spacer" style="height: 60px;"></div>
            <div style="display: flex; flex-direction: column; align-items: flex-end">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" id="submitLogin"
                    name="submitRegister">
                    Log In
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}