{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="mld-grid" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col login-box">
        <form method="POST" action="/register">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="email" name="email" placeholder="Email"></div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" name="password" placeholder="Password"></div>
            <div>
                <label><input type="checkbox" id="agreeTerms" name="agreeTerms">I agree to the terms & conditions.</label></div>
            
                <div class="mdl-layout-spacer" style="height: 60px;"></div>
            <div style="display: flex; flex-direction: column; align-items: flex-end">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" id="submitRegister" name="submitRegister">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}