{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="demo-content">
        <div class="login-box">
            <p>This scan has been logged to the blockchain.</p>
            <p>Transaction ID: <a href="#">{{ txid }}</a></p>
        </div>
    </div>
{% endblock %}