{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="login-box">
        <h1>Oh snap!</h1>
        <p>{{ message }}</p>
    </div>
    {% if login_required %}
    <div class="login-box">
        <a href="/login"><button class="mdl-button">Log In</button></a>
    </div>
    {% endif %}
    {% if invite %}
    <div class="login-box">
        <a href="/invite?email={{ invite }}"><button class="mdl-button">Invite {{ invite }}</button></a>
    </div>
    {% endif %}
{% endblock %}