{% extends 'base.jinja' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
  
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col login-box">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Your Assets</h2>
    </div>
    <div class="mdl-layout-spacer" style="height: 60px;"></div>
    <div>
      <ul class="demo-list-item mdl-list">
        {% for i in items %}
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons" style="margin-right: 12px;">{% if i['public'] %}visibility{%else%}visibility_off{%endif%}</i>
            <a href="/item/{{ i['itemhash'] }}">{{ i['filename'] }}</a>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col login-box">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Upload Asset File</h2>
    </div>
    {% if current_user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" action="/inventory">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="file" id="upfile" name="upfile" class="mdl-textfield__input" required>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="user" pattern="[A-Z,a-z, ]*">
        <label class="mdl-textfield__label" for="user">Asset name (optional)</label>
        <span class="mdl-textfield__error">Letters and spaces only</span>
      </div>
      
      <div class="mdl-layout-spacer" style="height: 20px;"></div>
      <div style="display: flex; width: 100%; flex-direction: row;">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="public">
          <input type="checkbox" id="public" value="public" name="public" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Public</span>
        </label>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent block" type="submit">Upload</button>
      </div>

      <input type="hidden" id="userIndex" name="userIndex" value="{{ uid }}">
      <input type="hidden" id="userPass" name="userPass" value="{{ upass }}">
      <input type="hidden" id="inventoryItem" name="inventoryItem" value='{"name": "test", "owner": "{{ current_user.email }}" }'>
    </form>
    {% else %}
    <div style="text-align: center">
      <a href="/login">Log in</a> or <a href="/register">register</a> to upload files!
    </div>
    {% endif %}
</div>
<script>
  function processURL() {
    var url = '/file/' + document.getElementById("id").value;
    location.href = url;
    return false;
  }
</script>

{% endblock %}