{% extends 'base.html' %}
{% block title %}File Storage{% endblock %}
{% block header %}
  
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col demo-content">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Your files</h2>
    </div>
    <form onSubmit="return process();" method="GET">
      <input type="text" id="id" name="id">
      <button type="submit">Retrieve File</button>
    </form>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Upload File</h2>
    </div>
    <form method="POST" and enctype="multipart/form-data" action="{{API_HOST}}/v2/inventory">
      <input type="file" id="upfile" name="upfile">
      <input type="hidden" id="userId" name="userId" value="0xcb9cf80d9a6ea06646780d86fe764f0aff15757e">
      <input type="hidden" id="inventoryItem" name="inventoryItem" value='{"name": "test"}'>
      <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
            Upload
          </button>
        </div>
    </form>
</div>
<script>
  function process() {
    var url = '{{API_HOST}}/v2/inventory/' + document.getElementById("id").value;
    location.href = url;
    return false;
  }
</script>


{% endblock %}