{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
  
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col login-box">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Your files</h2>
    </div>
    <form onSubmit="return processURL();" method="GET">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="id" name="id" placeholder="IPFS Hash">
      </div>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
          type="submit">Retrieve File</button>
    </form>
    <ul class="demo-list-item mdl-list">
      {% for i in items %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons" style="margin-right: 12px;">cloud_done</i>
          <a href="/inventory/{{ i }}">{{ i }}</a>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col login-box">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Upload File</h2>
    </div>
    {% if current_user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" action="/inventory">
      <input type="file" id="upfile" name="upfile">
      <input type="hidden" id="userId" name="userId" value="{{ itembase }}">
      <input type="hidden" id="inventoryItem" name="inventoryItem" value='{"name": "test"}'>
      
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
            Upload
          </button>
    </form>
    {% else %}
    <div style="text-align: center">
      <a href="/login">Log in</a> or <a href="/register">register</a> to upload files!
    </div>
    {% endif %}
</div>
<script>
  function processURL() {
    var url = '/inventory/' + document.getElementById("id").value;
    location.href = url;
    return false;
  }
</script>

{% endblock %}